.forum-page{
    width: 100%;
    box-sizing: border-box;
    display:block;
    float:left;
}

.forum-page .forum-user-panel{
    width: 440px;
    box-sizing: border-box;
    float:right;
}

.forum-page .forum-admin-panel li{
    float:left;
}

.forum-page table.forum-section, .forum-page table.forum-category, .forum-page table.forum-thread{
    float:left;
    width: 100%;
}

.m-datatable-default table img {
    max-height: 22px !important;
}


@media all and (max-width: 710px){
    .basic-forum-page .forum-thread .forum-reply > td, .basic-forum-page .forum-thread .forum-reply-form > td{
        display:block;
        width: 100%;
        box-sizing: border-box;
        float:left;
        clear:left;
    }
    .basic-forum-page .forum-thread .forum-reply > td.forum-user-details, .basic-forum-page .forum-thread .forum-reply-form > td.forum-user-details{
        width: 100%;
        background: #9eefe1;
        padding: 0px;
        line-height: 20px;
        text-align: left;
        min-height: 45px;
    }

    .basic-forum-page .forum-thread .forum-user-details .forum-user-details-name, .basic-forum-page .forum-thread .forum-user-details .forum-user-details-group{
        float:left;
    }

    .basic-forum-page .forum-thread .forum-user-details .forum-user-details-group{
        font-style: italic;
    }

    .basic-forum-page .forum-thread .forum-user-details .forum-user-details-title{
        font-weight: bold;
    }

    .basic-forum-page .forum-thread .forum-user-details .forum-user-details-title, .basic-forum-page .forum-thread .forum-user-details span.forum-user-details-date{
        float:right !important;
        padding-right: 10px;
    }

    .basic-forum-page .forum-thread .forum-user-details img{
        max-width: 50px;
        max-height: 40px;
        margin-top: -23px;
        float:left;
    }

    .basic-forum-page .forum-thread .forum-user-details-header{
        padding-top: 3px;
    }

    .basic-forum-page .forum-thread .forum-user-details-header, .basic-forum-page .forum-thread .forum-user-details-footer{
        display:block;
        height: 20px;
        margin-left:60px;
    }
}

@media all and (max-width: 710px){
    .forum-page .forum-section .subcategory-row td.subcategory-activity-column{
        display:none;
    }

    .forum-page .forum-category .thread-views-column{
        display:none;
    }

    .forum-page .forum-thread-title{

    }

    .forum-page h2.forum-thread-title .forum-thread-title-actions{
        margin-top: 0 !important;
        margin-bottom: 5px;
    }
}

@media all and (max-width: 510px){
    .forum-page .forum-section .subcategory-row td.subcategory-latest-post-column{
        display:none;
    }

    .forum-page .forum-category .thread-replies-column{
        display:none;
    }

    .forum-page .forum-user-panel{
        width: 100%;
        box-sizing: border-box;
    }

}

@media all and (max-width: 450px){
    .forum-page .forum-section .subcategory-row td.subcategory-latest-post-column{
        display:none;
    }

    .forum-page .forum-category .thread-most-recent-column{
        display:none;
    }

    .forum-page .forum-user-panel .forum-user-panel-links{
        width: 100%;
    }
}